$background:rgb(82,5,145);
$gradient:36deg, rgba(82,5,145,1) 0%, rgba(36,231,26,1) 0%, rgba(248,251,242,1) 56%;


.header{
display:flex; 
align-items: center; 
justify-content: space-between;  
background: $background;
background: linear-gradient($gradient);
}

.icon__header{
    height:10vh;
}